{% extends 'base.twig' %}

{% block body %}
<div class="container">
<h1>User List</h1>
 <a class="btn btn-primary" href="{{ path('user.create') }}">Create</a>
<table class="table table-striped dt">
 <thead>
 <tr>
     <th>Name</th>
     <th>Email</th>
     <th>Roles</th>
     <th>CreateAt</th>
     <th>UpdatedAt</th>
    <th></th>
 </tr>
 </thead>
 <tbody>
 {% for user in users %}
 <tr>
     <td><div class="">
  <div>Name</div>
  <span>{{user.name}}</span>
</div>
</td>
     <td><div class="">
  <div>Email</div>
  <span>{{user.email}}</span>
</div>
</td>
     <td><div class="">
  <div>Roles</div>
  <span>{{user.roles}}</span>
</div>
</td>
     <td><div class="">
  <div>CreateAt</div>
  <span>{{user.createAt}}</span>
</div>
</td>
     <td><div class="">
  <div>UpdatedAt</div>
  <span>{{user.updatedAt}}</span>
</div>
</td>
    <td>
   <a href="/{{ record.path }}/{{ record.id }}/"><i class="fa fa-search"></i> </a>
   <a href="/{{ record.path }}/{{ record.id }}/edit"><i class="fa fa-edit"></i></a>
  </td>
 </tr>
 {% endfor %}
 </tbody>
</table>
</div>
{% endblock %}
